<h2>{{ title }}</h2>
<p>
  <strong>{{ head_specialty }}</strong>: {{ specialty_label }}
  &nbsp;|&nbsp;
  <strong>{{ head_generated_at }}</strong>: {{ generated_at }}
</p>

<h3>{{ head_overview }}</h3>
<p>{{ overview }}</p>

<h3>{{ head_key_findings }}</h3>
<pre>{{ key_findings }}</pre>

<h3>{{ head_differentials }}</h3>
<pre>{{ differentials }}</pre>

<h3>{{ head_risk_assessment }}</h3>
<pre>{{ risk_assessment }}</pre>

<h3>{{ head_next_steps }}</h3>
<pre>{{ next_steps }}</pre>

<h3>{{ head_red_flags }}</h3>
<pre>{{ red_flags }}</pre>

<h3>{{ head_limitations }}</h3>
<pre>{{ limitations }}</pre>

<h3>{{ head_references }}</h3>
<pre>{{ references }}</pre>
